html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  color: #401800;
  background-color: rgba(255,153,0,0.35);
  min-width: 460px;
}

a {
  color: #401800;
}

a:link {
  text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 200px;
}

.title {
  display: flex;
  justify-content: flex-start;
  font-size: 48px;
  min-width: 373px;
  height: 1em;
  border-radius: 2px;
}

.title:hover {
  background-color: #BB4F0E;
}

.links {
  display:  flex;
  justify-content: space-around;
  width: auto;
  font-family: sans-serif;
}

.link {
  height: 1em;
  border-radius: 2px;
}

.link:hover {
  background-color: #BB4F0E;
  /*background-color: #F16E1F;*/
}

.content {
  margin: 0px 20px;
  text-align: left;
  color: white;
  height: 300px;
  font-size: 0;
}

.orangeContainer {
  margin: 5px;
  border-width: 2px;
  border-color: #401800;
  border-style: solid;
  padding: 10px;
  background-color: floralwhite; /* #E55500; #D3540E;*/
}

.footer {
  text-align: center;
  line-height: 3.5em;
  vertical-align: middle;
  color: #401800;
  font-weight: bold;
}

#attribute {
  font-size: 50px;
}

#cursor {
  font-size: 75px;
}

#backgroundImg {
  background-image: url(../assets/img/patrick_torii_gate_rotated.JPG);
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1000;
}